In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [37]:
training_table = pd.read_csv('input_files/my_test.csv',delimiter=',')

In [38]:
training_table

   t1  t2  t3  t4  t5  spam
0   2   1   0   1   0     0
1   0   3   1   0   0     0
2   1   0   2   0   2     1
3   1   0   1   2   0     1
4   0   1   0   1   0     1
5   1   2   0   0   2     0
6   0   1   0   2   0     1
7   1   1   0   1   0     1
8   3   0   1   1   1     0
9   1   0   1   0   1     1

In [39]:
target_class = training_table.spam

In [40]:
data = training_table[['t1','t2','t3','t4','t5']]

In [41]:
data

   t1  t2  t3  t4  t5
0   2   1   0   1   0
1   0   3   1   0   0
2   1   0   2   0   2
3   1   0   1   2   0
4   0   1   0   1   0
5   1   2   0   0   2
6   0   1   0   2   0
7   1   1   0   1   0
8   3   0   1   1   1
9   1   0   1   0   1

In [42]:
def Rocchio_Train(D,L):
    df = D.copy()
    df['class']=L
    return df.groupby('class').sum()

In [43]:
prototypes = Rocchio_Train(data,target_class)

In [44]:
prototypes

       t1  t2  t3  t4  t5
class
0       6   6   2   2   3
1       4   3   4   6   3

In [71]:
## get category label
def getPrototypeCategory(num):
    return 'Spam' if(num==1) else 'no SPam'

def calculateCosineSimilarityDistance(x,D):
    D_norm = np.array([np.linalg.norm(D[i]) for i in range(len(D))])
    x_norm = np.linalg.norm(x)
    ##print('test norm',x_norm,'\nD_norm',D_norm)
    sims = np.dot(D,x)/(D_norm * x_norm)
    ##print('sims ',sims)
    # The distance measure will be the inverse of Cosine similarity
    #dist = 1 - sims
    return sims

"""
The classification function  would take as input the prototypes and the instance to be classified. 
  This function should measure Cosine similarity of the test instance to each prototype vector. 
 Your output should indicate 
              the predicted class for the test instance and 
              the similarity values of the instance to each of the category prototypes

""" 
def Rocchio_classifier(prototypes, instance):
    distance = calculateCosineSimilarityDistance(instance,prototypes)
    max_distance_dic = {}
    max_distance = -2
    total_distance = 0
    instance_proto_cat_similarity = {}
    for i in range(len(distance)):
        total_distance +=np.round(distance[i],2)
        instance_proto_cat_similarity[str(i)+" ("+getPrototypeCategory(i)+")"]=np.round(distance[i],2)
        if(max_distance < distance[i]):
            max_distance=distance[i]
            max_distance_dic[max_distance]=i
            
    return np.round(total_distance,2),np.round(max_distance,2),max_distance_dic[max_distance],instance_proto_cat_similarity

In [72]:
prototypes_arr = np.array(prototypes)
DT_array = np.array(data)

In [73]:
prototypes_arr

array([[6, 6, 2, 2, 3],
       [4, 3, 4, 6, 3]], dtype=int64)

In [74]:
DT_array

array([[2, 1, 0, 1, 0],
       [0, 3, 1, 0, 0],
       [1, 0, 2, 0, 2],
       [1, 0, 1, 2, 0],
       [0, 1, 0, 1, 0],
       [1, 2, 0, 0, 2],
       [0, 1, 0, 2, 0],
       [1, 1, 0, 1, 0],
       [3, 0, 1, 1, 1],
       [1, 0, 1, 0, 1]], dtype=int64)

In [78]:
arr=[1,0,0,1,1]
total_distance,max_distance,predicted_class,similarity_values = Rocchio_classifier(prototypes_arr,arr)
print("\n Similarity values", similarity_values)
print(" total distance = {} \n max Distance= {}".format(total_distance, max_distance ))
print("\n Test insatnce - Predicted class {} ({})".format(predicted_class, getPrototypeCategory(predicted_class)))
print()

 Similarity values {'0 (no SPam)': 0.67, '1 (Spam)': 0.81}
 total distance = 1.48
 max Distance= 0.81

 Test insatnce - Predicted class 1 (Spam)

In [81]:
print('training Data prediction')
for i in  range(len(DT_array)):
    total_distance,max_distance,predicted_class,similarity_values = Rocchio_classifier(prototypes_arr,DT_array[i])
    #print("\n i=",i," Similarity values", similarity_values)
    #print(" total distance = {} \n max Distance= {}".format(total_distance, max_distance ))
    print(" i=",i," Predicted class {} ({})".format(predicted_class, getPrototypeCategory(predicted_class)))
    print()

training Data prediction
 i= 0  Predicted class 0 (no SPam)

 i= 1  Predicted class 0 (no SPam)

 i= 2  Predicted class 1 (Spam)

 i= 3  Predicted class 1 (Spam)

 i= 4  Predicted class 1 (Spam)

 i= 5  Predicted class 0 (no SPam)

 i= 6  Predicted class 1 (Spam)

 i= 7  Predicted class 0 (no SPam)

 i= 8  Predicted class 1 (Spam)

 i= 9  Predicted class 1 (Spam)