In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
data = pd.read_table('data/segmentation_data/segmentation_data.txt',na_values=['?'],delimiter=",",header=None)
classes = pd.read_table('data/segmentation_data/segmentation_classes.txt',na_values=['?'],header=None)
names = pd.read_table('data/segmentation_data/segmentation_names.txt',na_values=['?'],header=None)

In [11]:
print("Data Shape ",data.shape)
print("Data - head\n",data.head())

Data Shape  (2100, 19)
Data - head
       0      1   2    3    4         5         6         7         8   \
0  110.0  189.0   9  0.0  0.0  1.000000  0.666667  1.222222  1.186342
1   86.0  187.0   9  0.0  0.0  1.111111  0.720082  1.444444  0.750309
2  225.0  244.0   9  0.0  0.0  3.388889  2.195113  3.000000  1.520234
3   47.0  232.0   9  0.0  0.0  1.277778  1.254621  1.000000  0.894427
4   97.0  186.0   9  0.0  0.0  1.166667  0.691215  1.166667  1.005540

          9          10         11         12        13         14         15  \
0  12.925926  10.888889   9.222222  18.666668 -6.111111 -11.111111  17.222221
1  13.740741  11.666667  10.333334  19.222221 -6.222222 -10.222222  16.444445
2  12.259259  10.333334   9.333334  17.111110 -5.777778  -8.777778  14.555555
3  12.703704  11.000000   9.000000  18.111110 -5.111111 -11.111111  16.222221
4  15.592592  13.888889  11.777778  21.111110 -5.111111 -11.444445  16.555555

          16        17        18
0  18.666668  0.508139  1.910864
1  19.222221  0.463329  1.941465
2  17.111110  0.480149  1.987902
3  18.111110  0.500966  1.875362
4  21.111110  0.442661  1.863654

In [12]:
print("classes Shape ",classes.shape)
print("classes - head\n",classes.head())

classes Shape  (2100, 2)
classes - head
        0  1
0  GRASS  0
1  GRASS  0
2  GRASS  0
3  GRASS  0
4  GRASS  0

In [19]:
print("names Shape ",names.shape)
print("names\n",names.values)

names Shape  (19, 1)
names - head
 [['REGION-CENTROID-COL']
 ['REGION-CENTROID-ROW']
 ['REGION-PIXEL-COUNT']
 ['SHORT-LINE-DENSITY-5']
 ['SHORT-LINE-DENSITY-2']
 ['VEDGE-MEAN']
 ['VEDGE-SD']
 ['HEDGE-MEAN']
 ['HEDGE-SD']
 ['INTENSITY-MEAN']
 ['RAWRED-MEAN']
 ['RAWBLUE-MEAN']
 ['RAWGREEN-MEAN']
 ['EXRED-MEAN']
 ['EXBLUE-MEAN']
 ['EXGREEN-MEAN']
 ['VALUE-MEAN']
 ['SATURATION-MEAN']
 ['HUE-MEAN']]

In [5]:
data

     110.0,189.0,9,0.0,0.0,1.0000004,0.66666675,1.2222223,1.1863422,12.925926,10.888889,9.222222,18.666668,-6.111111,-11.111111,17.222221,18.666668,0.50813884,1.9108642
0     86.0,187.0,9,0.0,0.0,1.1111108,0.7200825,1.444...
1     225.0,244.0,9,0.0,0.0,3.3888886,2.1951127,2.99...
2     47.0,232.0,9,0.0,0.0,1.2777778,1.254621,1.0,0....
3     97.0,186.0,9,0.0,0.0,1.1666671,0.6912147,1.166...
4     157.0,221.0,9,0.0,0.0,1.0555555,0.6469299,1.22...
...                                                 ...
2094  32.0,158.0,9,0.0,0.0,0.9444445,0.8629626,0.833...
2095  8.0,162.0,9,0.11111111,0.0,1.611111,2.0629625,...
2096  128.0,161.0,9,0.0,0.0,0.55555534,0.25185192,0....
2097  150.0,158.0,9,0.0,0.0,2.166667,1.6333338,1.388...
2098  124.0,162.0,9,0.11111111,0.0,1.3888888,1.12962...

[2099 rows x 1 columns]